@import "tailwindcss";

:root {
  /* Menggabungkan sistem font kawanmu dan font Inter/Anton milikmu */
  font-family:
    "Anton",
    "Inter",
    "Montserrat",
    "Playfair Display",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  color-scheme: light;
}

body {
  margin: 0;
}